#!/bin/sh
[[ -f ~/.zshenv ]] && source ~/.zshenv
[[ -f ~/.zprofile ]] && source ~/.zprofile

setxkbmap -option "caps:swapescape" &

bash ~/bin/g810-wal.sh &

calcurse --daemon &
mpd &
urxvtd &
skippy-xd --start-daemon &
#variety &
sleep 1; thunar --daemon &
