#include ".Xresources.d/2bwm"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"

!___________________________________________________________
!dzen2 Settings
!-----------------------------------------------------------------------------------
!dzen2.font:       -*-Hack-14-*-*-*-*-*-*-*-*-*-*-*
!dzen2.foreground: #22EE11
!dzen2.background: black
